# node / front-end artefakty
node_modules/
dist/
.env
.vscode/
.DS_Store

# Dependencies
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build

# Misc
*.pem

# Environment Variables
.env*.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Editor directories and files
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Output files from run_vision.js
*.out.json

# User-generated data
/data/

# Development-only files and directories
/scraper/
/scripts/
task-list.md
task-list-redesign.md

# Ignored project files and documentation
__pycache__/
.vscode/
.idea/
*.md
redis_backup.json
run_npm.ps1
py_scripts/
assets/raw/
data_format_guide.md
tsconfig.server-David_NTB.json
/public/bg-lines.js
